---
import ThemeToggle from "../components/ui/ThemeToggle.astro";
import Button from "../components/ui/Button.astro";

interface Props {
    title: string;
    showContactButton?: boolean;
}

const { title, showContactButton = true } = Astro.props;
---

<!doctype html>
<html lang={Astro.currentLocale || 'es'}>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="icon" href="/imgs/favicon/favicon.svg" type="image/svg+xml"/>
        <link rel="icon" href="/imgs/favicon/favicon.ico" sizes="any"/>
        <link rel="apple-touch-icon" href="/imgs/favicon/favicon.ico"/>
        <title>{title}</title>
    </head>

    <body class="dark bg-(--bg-primary) text-(--text-color) transition-colors duration-300">
        <div class="fixed top-5 right-5 flex gap-5 items-center z-50 max-sm:top-2.5 max-sm:right-2.5">
            {showContactButton && (
                    <Button id="contact-button" icon="bi bi-link-45deg" variant="control" ariaLabel="Contact links" />
            )}
            <ThemeToggle/>
        </div>

        <slot/>

        <script>
            import '../scripts/main';
        </script>
    </body>
</html>

<style is:global>
    @import '../styles/global.css';
</style>